<table class="table table-hover">
	<thead>
		<tr>
			<% for (var key in headColumns) {%>
				<th><%= key %></th>
			<%} %>
		</tr>
	</thead>
	<tbody class="bs-glyphicons">
		<% for (var i=0; i < results.length; i++) {%>
			<tr>
				<% for (var key in headColumns) {%>
					<td><%= headColumns[key] %></td>
				<%} %>
			</tr>
		<%} %>
	</tbody>
</table>