<table class="table table-hover">
	<thead>
		<tr>
			<% for (var n=0; n < headColumns.length; n++) {%>
				<th><%= headColumns[n] %></th>
			<%} %>
		</tr>
	</thead>
	<tbody class="bs-glyphicons">
		<% for (var i=0; i < results.length; i++) {%>
			<tr>
				<% for (var k=0; k < headColumns.length; k++) {%>
					<% if (headColumns[k] === 'timestamp') {%>
						<td><%= results[i][headColumns[k]].toLocaleString() %></td>

					<%} else {%>
					<td><%= results[i][headColumns[k]] %></td>
					<%} %>
				<%} %>
			</tr>
		<%} %>
	</tbody>
</table>